# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
*.log
npm-debug.log*

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Vite
# =========================
dist/

# =========================
# Coverage
# =========================
coverage/

# =========================
# VS Code
# =========================
.vscode/